html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    height: 1600px;
    background: linear-gradient(180deg, #BEDEDF 0%, #C2DFE0 70.76%, #FFFFFF 132.84%);
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    color: #F9F8F8;
}

/*header container*/
.container .header {
    background-color: #0E8388;
    width: 1350px;
    height: 110px;
}

/*logo styling*/
.header img {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 120px;
}

/*inner container*/
.container .innerCont {
    position: absolute;
    width: 820px;
    height: 1200px;
    left: 290px;
    top: 220px;
    background: #5EACB0;
    border-radius: 10px;
}
/*div Back styling*/
.container .innerCont .back {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 75px;
    height: 30px;
    left: 40px;
    top: 62px;
}

.back a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    font-size: 19.2px;
    line-height: 23px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*subInn container*/
.container .innerCont .subInn {
    position: absolute;
    width: 820px;
    height: 1000px;
    left: 0px;
    top: 100px;
}
.container .innerCont .subInn .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 505px;
    height: 331.58px;
    left: 160px;
    top: 0px;
    text-align: center;
    background-color: wheat;
}
.container .innerCont .subInn .icon h2{
    width: 505px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}










/* footer section styling */
.container .footer {
    position: relative;
    width: 1350px;
    height: 80px;
    left: 0px;
    top: 1420px;
    background-color: #0E8388;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    color: #F9F8F8;
}

.container .footer .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 550px;
    position: absolute;
    width: 1200px;
    left: 120px;
    top: 39px;
}

.container .footer .list ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/* footer anchor element styling */
.container .footer .list a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}