html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
/*header container*/
.container .header{
    background-color: #0E8388;
    width: auto;
    height: 110px;
}
/*logo styling*/
.header img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 120px;
}
/*inner container*/
.container .innerCont{
    position: absolute;
    width: 894px;
    height: 940px;
    left: 295px;
    top: 220px;
    background: #5EACB0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}