html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    height: 1372px;
    background: linear-gradient(180deg, #BEDEDF 0%, #C2DFE0 70.76%, #FFFFFF 132.84%);
}
/*header container*/
.container .header{
    background-color: #0E8388;
    width: auto;
    height: 110px;
}
/*logo styling*/
.header img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 120px;
}
/*inner container*/
.container .innerCont{
    position: absolute;
    width: 800px;
    height: 900px;
    left: 295px;
    top: 220px;
    background: #5EACB0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
/* miniInnCont */
.container .innerCont .miniInnCont{
    position: absolute;
    background-color: #AAAAAA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 798px;
    height: 95px;
    left: 0px;
    right: 0px;
}
/* miniInnCont h1 */
.innerCont .miniInnCont h1{
    position: absolute;
    height: 56px;
    width: 148px;
    left: 55px;
    top: 29px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #F9F8F8;
}
/* well h3 */
.innerCont .well h3{
    position: absolute;
    width: 200px;
    height: 39px;
    left: 300px;
    top: 146px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    color: #FFFFFF;
}