html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    height: 1372px;
    background: linear-gradient(180deg, #BEDEDF 0%, #C2DFE0 70.76%, #FFFFFF 132.84%);
}
/*header container*/
.container .header{
    background-color: #0E8388;
    width: auto;
    height: 110px;
}
/*logo styling*/
.header img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 120px;
}
/*inner container*/
.container .innerCont{
    position: absolute;
    width: 800px;
    height: 900px;
    left: 295px;
    top: 220px;
    background: #5EACB0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
/* miniInnCont */
.container .innerCont .miniInnCont{
    position: absolute;
    background: linear-gradient(267.82deg, rgba(255, 255, 255, 0.5) 2.56%, #0E8388 96.02%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 798px;
    height: 95px;
    left: 0px;
    right: 0px;
}
/* miniInnCont h1 */
.innerCont .miniInnCont h1{
    position: absolute;
    height: 56px;
    width: 148px;
    left: 55px;
    top: 29px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #F9F8F8;
}
/* well h3 */
.innerCont .well h3{
    position: absolute;
    width: 200px;
    height: 39px;
    left: 300px;
    top: 146px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    color: #FFFFFF;
}
/*forms container */
.forms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 590px;
    height: 631px;
    left: 190px;
    top: 217px;
    font-family: 'Roboto',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-style: normal;
}
/*forms level*/
.forms .formsLevel1{
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 590px;
    height: 562px;
    gap: 40px;
}
/* miniforms */
.forms .formsLevel1 .miniforms{
    gap: 16px;
    width: 590px;
    height: 269px;
    font-family: inherit;
    font-style: inherit;
}
/* mail, pass, btn */
.forms .formsLevel1 .miniforms .mail, .pass, .btn{
    width: 400px;
    height: 35px;
    
}
/* label */
.forms .formsLevel1 .miniforms .label{
    width: 100px;
    height: 19px;
    font-family: inherit;
    font-style: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: #F9F8F8;
}
/* input mail field */
.forms .formsLevel1 .miniforms .input{
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    color:#000000;
    padding-left:10px;
    font-family: inherit;
    align-items: flex-start;
}
.input::placeholder{
    padding-left: 2px;
    font-family: inherit;
}
.input:focus{
    outline: none;
}
/* pass class attribute */
.forms .formsLevel1 .miniforms .pass{
    align-items: flex-end;
    gap: 4px;
}
/* forgot */
.forms .formsLevel1 .miniforms a{
    position: absolute;
    top: 140px; 
    left: 285px;
    font-family: inherit;
    font-size: 13px;
    font-style: inherit;
    font-weight: 600;
    line-height: 19px;
    color: #FFD8B0;
    text-decoration: none;
}
/* button styling */
.forms .formsLevel1 .miniforms .btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 180px;
    order: 2;
    background: #09575B;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
/*div class "extra" container styling */
.forms .formsLevel1 .extras{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 19px;
    margin-top: -15px;
}
/* HR class line styling */
hr.line{
    width: 180px;
    top: 9.5px;
    border: 1px solid #C0C0C0;
}
/* P class txt styling */
p#txt{
    width: 22px;
    font-family:inherit;
    font-weight: 500;
    font-size: 14px;
    color: #F9F8F8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}
/* hr class one and two styling */
hr.one{
    flex: none;
    order: 0;
    flex-grow: 0;
} 
hr.two {
    flex: none;
    order: 2;
    flex-grow: 0;
}
/* socials container styling */
div.socials{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 400px;
    height: 200px;
    flex: none;
    order: 2;
    flex-grow: 0;
    background-color: white;
    margin-top: 30px;
}
.socials .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: 35px;
    border: 2px solid #F9F8F8;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}