html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
/*header container*/
.header{
    background-color: #0E8388;
    width: auto;
    height: 110px;
}
/*logo styling*/
.header img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 120px;
}